<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    {% include 'base.html'%}
    <style>
        .content{
            margin-left: 19%;
            margin-top: 7%;
            padding: 20px;
            border-radius: 5px;
            width: 80%;
            background-color: white;
        }
    </style>
</head>
<body>
  <div id="includeHtml"></div>
  <div class="content">
    <div class="d-flex align-items-center pb-3">
        <div>
            <!-- Title -->
            <h1 style="color: #3075ba;">14/03/2023</h1>
            <!-- End Title -->
            <!--breadcrum start-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pmd-breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="Details.html" style="text-decoration:none; color: black;">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Active Time</li>
                </ol>
            </nav>
            <!--breadcrum end-->
        </div>
     
    </div>
    <table class="table pmd-table display dt-responsive nowrap dataTable no-footer dtr-column collapsed text-center" >
        <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Active Time</th>
              
              <th>Screen-Shots</th>
              <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              
                <td data-title="name">Sunny kadia</td>

                <td data-title="time">2.5 hours</td>
                <td data-title="ss"> 
                    <a href="{{ url_for('screenShot') }}" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-sm mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg></a></td>

                <td data-title="delete" >
                    <a href="javascript:void(0);" title="Delete" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-sm" data-bs-toggle="modal" data-target="#delete_employee_modal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg></a>
                </td>
            </tr>

        
        
        </tbody>
    </table>
    
  
    <div>
</body>
</html>