{% include 'base.html' %}
<!--Main Navigation-->
<style>
        table {
            border-collapse: collapse;
            margin-top: 7%;
            margin-left: 20%;
        }

        th,
        td {
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 40px;
        }

        .card {
            width: 280px;

        }
        .card:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        }

        .chart {
            width: 100%;
        }

        .card-subtitle {
            text-transform: uppercase;
        }

        .media-body {
            color: aliceblue;
      }
</style>
<div id="includeHtml"></div>

<table>
    <tbody>
    <tr>
        <td>
            <div class="card pmd-card statistic-col new-users-statistic">
                <div class="card-body media" style=" background-color: #2bbbad;">

                    <div class="media-body text-center">
                        <h2 class="card-title">{{ total_employee }}</h2>
                        <p class="card-subtitle">Employees</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="card pmd-card statistic-col new-users-statistic">
                <div class="card-body media" style="background-color: #7266ba;">

                    <div class="media-body text-center">
                        <h2 class="card-title">10</h2>
                        <p class="card-subtitle">Total Projects</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="card pmd-card statistic-col new-users-statistic">
                <div class="card-body media" style="background-color: #33b5e5;">

                    <div class="media-body text-center">
                        <h2 class="card-title">$40,000</h2>
                        <p class="card-subtitle">TOTAL PAYABLE SALARY

                        </p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="card pmd-card sms-details chart">
                <div class="card-header pmd-card-border">
                    <h2 class="card-title h3" style="color: #3075ba;">Today's Attendance</h2>
                    <p class="card-subtitle" style="text-transform: capitalize;">The total no of present and
                        absent employees.</p>
                </div>
                <div class="card-body">
                    <!--chart start-->
                    <div class="doughnut-chart-container">
                        <div class="chartjs-size-monitor"
                             style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                </div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <canvas id="doughnut-chartcanvas" width="300" height="300"
                                style="display: block; height: 300px; width: 300px;"
                                class="chartjs-render-monitor"></canvas>
                    </div>
                    <!--chart end-->
                </div>
            </div>

        </td>
        <td colspan="1">
            <div class="card" style="width: 280px; height: 400px; align-items: center;">
                <div class="card-body media">
                    <p class="card-title text-center">Payroll Status</p>
                    <div class="canvas">
                        <div class="circle mr-3">
                            <div id="circles-1" style="margin-top: 30px;">
                                <div class="circles-wrp" style="position: relative; display: inline-block;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80">
                                        <path fill="transparent" stroke="#e1e5e8" stroke-width="3"
                                              d="M 39.99215858165773 1.5000007985434038 A 38.5 38.5 0 1 1 39.946524272384245 1.5000371383743243 Z"
                                              class="circles-maxValueStroke"></path>
                                        <path fill="transparent" stroke="#00aa49" stroke-width="3"
                                              d="M 39.99215858165773 1.5000007985434038 A 38.5 38.5 0 1 1 8.88170405013156 62.669399135760116 "
                                              class="circles-valueStroke"></path>
                                    </svg>
                                    <div class="circles-text"
                                         style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 28px; height: 80px; line-height: 80px;">
                                        <span class="circles-integer">65</span></div>
                                </div>
                            </div>
                            <div class="circle-text text-center pt-1">Done</div>
                        </div>
                        <div class="circle">
                            <div id="circles-2" style="margin-top: 30px;">
                                <div class="circles-wrp" style="position: relative; display: inline-block;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80">
                                        <path fill="transparent" stroke="#dfe3e6" stroke-width="3"
                                              d="M 39.99215858165773 1.5000007985434038 A 38.5 38.5 0 1 1 39.946524272384245 1.5000371383743243 Z"
                                              class="circles-maxValueStroke"></path>
                                        <path fill="transparent" stroke="#fd5c28" stroke-width="3"
                                              d="M 39.99215858165773 1.5000007985434038 A 38.5 38.5 0 0 1 76.6294432292749 51.85469901403353 "
                                              class="circles-valueStroke"></path>
                                    </svg>
                                    <div class="circles-text"
                                         style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 28px; height: 80px; line-height: 80px;">
                                        <span class="circles-integer">30</span></div>
                                </div>
                            </div>
                            <div class="circle-text text-center pt-1">Pending</div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
