<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee History</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    {% include 'base.html' %}
    <style>
    
        .content{
            margin-left: 19%;
            margin-top: 7%;
            padding: 20px;
            border-radius: 5px;
            width: 80%;
            background-color: white;
        }
        svg:hover{
          transform: scale(1.2,1.2);
          transition-duration: 0.5s;
      }


    </style>
</head>
<body>
<div id="includeHtml"></div>
<div class="content">
    <div class="d-flex align-items-center pb-3">
        <div>
            <!-- Title -->
            <h1 style="color: #3075ba;">History</h1>
            <!-- End Title -->
            <!--breadcrum start-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pmd-breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="Details.html" style="text-decoration:none; color: black;">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Employees history</li>
                </ol>
            </nav>
            <!--breadcrum end-->
        </div>


    </div>
    <table class="table pmd-table display dt-responsive nowrap dataTable no-footer dtr-column collapsed">
        <thead class="thead-light">
        <tr>
            <th>Date</th>
            <th>Check History</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td data-title="DATE" style="letter-spacing: 1px;"><input type="date" class="form-control w-50"
                                                                      placeholder="yesterday"></td>

            <td data-title="time"><a href="{{ url_for('activeTime') }}" style="text-decoration: none;">Full History</a>
            </td>


            <td data-title="">

                <a href="javascript:void(0);" title="Delete"
                   class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-sm" data-bs-toggle="modal"
                   data-target="#delete_employee_modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
            </td>
        </tr>


        </tbody>
    </table>
</div>
</body>
</html>