<html>
<head>
    <title>Secure Infotech</title>
    <link rel="stylesheet" type="text/css" href="style.css">   
</head>
    <body>
    <div class="login-box">
    <img src="images/logo.png" class="avatar">
        <h1>Create Password</h1>
            <form>
            <p>Enter new password</p>
            <input type="text" name="username" placeholder="Enter password">
            <p>Re-enter the Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Submit">
           
            <span class="signup">Or Signup Using</span>    
            <div class="logos">
            <img class="facebook" src="images/facebook.png">
            <img class="google" src="images/google.png">
            <img class="twitter" src="images/twitter.png">
            </div>
            </form>
        
        
        </div>
    
    </body>
</html>